{% extends "base.html" %}
{% block content %}
  <h1>
    Users
    <a class="btn btn-primary float-end" href="{% url "task_manager:user-create" %}">Add user</a>
  </h1>
  {% if user_list %}
    <table class="table">
      <thead>
      <tr>
        <th class="border-top border-bottom" scope="col">Username</th>
        <th class="border-top border-bottom" scope="col">First name</th>
        <th class="border-top border-bottom" scope="col">Last name</th>
        <th class="border-top border-bottom" scope="col">Email</th>
      </tr>
      </thead>
      <tbody>
      {% for user in user_list %}
        <tr>
          <td>
            <a class="text-decoration-none"
               href="{% url "task_manager:user-update" pk=user.id %}">{{ user.username }}</a>
          </td>
          <td>{{ user.first_name|default:"Absent" }}</td>
          <td>{{ user.last_name|default:"Absent" }}</td>
          <td>{{ user.email|default:"Absent" }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>There are no any users in the system.</p>
  {% endif %}
{% endblock %}
